<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
        <h1> Arzo Restaurant Menu</h1>
        {% for meal in meals%}
            <h2>{{meal.1}}</h2>
            {%for m in item_list%}
                    <h3>{{m.meal}}</h3>
                        <p>{{m.descriptions}}</p>
                {% endfor %}
        {%endfor%}
        <script src="" async defer></script>
    </body>
</html>